.col-12, .col-6, .col-7, .col-4{width: 100%; height: auto; padding: 0; margin: 0; float: left;}
.col-6{width: 50%;}
.col-8{width: 60%;}
.col-4{width: 40%;}
 
.app-container{
    width: 1450px; max-width: 95%; height: auto; padding: 0; margin: 0 auto;
    background: #000;
}
.accnt-container{
    display: flex;
    background-color:#f3f3f3;
    height: 100vh;
    margin-left: 250px;
    justify-content: center;
    align-items:center;
}
.left-container{
    flex: 1;
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.right-container form{
    text-align: start;
}

.right-container{
    flex: 3;
    display: flex;
    align-items:center;
    justify-content: center;
    flex-direction: column;
    height: 500px;
    background-color:#fff; 
    border-radius: 250px 0px 0px 250px; 
    box-shadow: 0 4px 8px 0 rgba(207, 2, 2, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.input_label{
    padding: 15px;
    width: 350px;
    border: none;
    background-color: rgb(218, 217, 217);
    border-radius: 5px;
    outline: none;
    pointer-events: none;

}
.acc_label{
    font-size: 18px;
    display: block;
    font-weight: 400;
    font-family:'Times New Roman', Times, serif;
}
.acc_input{
    margin-top: 20px;
}
.accnt_underline{
    height: 5px;
    border-radius:3px;
    background-color:black;
    width: 120px;
}
.bank-icon{
    width: 250px;
}
.btn{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding-top: 25px;
    gap: 10px;
}
.deposite-btn{
    padding: 10px;
    cursor: pointer;
}
